* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CDE6D0;
}

/* Header */
header {
    background-color: #CDE6D0;
    height: 150px;
}

/* Liste de navigation */
nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 70px; */
}

/* logo */
.logo {
    justify-self: center;
    width: 500px;
    /* left: 25%; */
}

* Produits */ .produits {
    border: white outset;
    padding: 10%;
    width: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Produits au clique */
.produits:hover {
    color: black;
    background-color: #E2010F;
}

#menuToggle {
    display: block;
    /* position: relative; */
    top: 30%;
    left: 30%;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 10px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    margin: -98px 0 0 -60px;
    padding: 54px;
    padding-right: 73px;
    padding-top: 93px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-300px, 0);
    transition: transform 0.5s ease-in-out;
    /* width: 10%; */
}


#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked~ul {
    transform: none;
}

/* Panier */
.cart {
    width: 50px;
    height: 50px;
    background-color: #CDE6D0;
    border: none;
}

.cart:hover {
    background-color: #E2010F;
    cursor: pointer;
}

#cartSlide {
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0;
    background-color: #CDE6D0;
    border: solid 1px #000000;
    text-align: center;
    z-index: 5;
}

.cartSlideIn {
    animation: cartSlideIn 0.2s linear forwards;
}

.cartSlideOut {
    animation: cartSlideOut 0.2s linear forwards;
}

@keyframes cartSlideIn {
    0% {
        left: 100%;
    }

    100% {
        left: 75%;
    }
}

@keyframes cartSlideOut {
    0% {
        left: 75%;
    }

    100% {
        left: 100%;
    }
}

.cartItem {
    display: flex;
}

/* Carrousel */
/* Div générale du carrousel */
.carouselExampleControls {
    background-color: gray;
}

/* Première slide */
#slide1 {
    background-image: url(../img/amiens2-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

/* Deuxième slide */
#slide2 {
    background-image: url(../img/park-saint-pierre-amiens-picardie_17282_ml-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

/* Troisième slide */
#slide3 {
    background-image: url(../img/gare-sncf-damiens-realisation-curieuse-L-1-min.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

/* Liste des produits */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 2%;
    background: white;
    width: 80vw;
    height: 130vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card .cont {
    width: 90%;
    height: 93%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .cont .title {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid black;
    margin-bottom: 5%;
}

.brown {
    background-color: #944827;
}

.lightblue {
    background-color: #BAE4FA;
}

.pink {
    background-color: #D62F87;
}

.orange {
    background-color: #F68F02;
}

.red {
    background-color: #E2010F;
}

.yellow {
    background-color: #FFED02;
}

.green {
    background-color: #1EA64A;
}

.blue {
    background-color: #0268B3;
}

.cream {
    background-color: #F1E0BB;
}

.lightgreen {
    background-color: #D8F1AF;
}

.hide {
    display: none;
}

.card .cont #rent {
    margin-top: 10px;
}

.card .cont .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.card .cont .details .rents {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    margin: 1px;
}

.imgs {
    display: flex;
    width: 240px;
    height: 50%;
    align-items: center;
}

.imgs img {
    width: 240px;
    height: 80%;
}

.content {
    display: flex;
    height: 35%;
    align-items: center;
    width: 110%;
    justify-content: center;
}

.houseBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.houseBuy p {
    margin-bottom: 20%;
    margin-right: 10%;
    text-align: center;
}

.hotelBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.hotelBuy p {
    text-align: center;
    margin-bottom: 20%;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 30px;
    width: 35px;
}

.button-82-pushable :last-child {
    padding: 13%;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
    height: 30px;
    width: 35px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #CDE6D0;
}

.foot {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .cardContainer {
        width: 100%;
        height: 100%;
    }

    .imgs {
        height: 50%;
        width: 95%;
        justify-content: center;
    }

    .imgs img {
        width: 90%;
        height: 150px;
        object-fit: fill;

    }

    .card {
        margin: 2%;
        background: white;
        width: 20%;
        height: 400px;
    }

    .houseBuy p {
        margin-right: 0;
    }

    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}