* {
    margin: 0;
    padding: 0;
}

/* Header */
header{
  /* height: 150px; */
  background-color: #CDE6D0 ;
  padding-top: 2%;
  height: 28vh;
}
#title{
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 10%;
}
/* Liste de navigation */
.navlist{
  padding: 2%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
nav{
  width: 100%;
}
/* logo */
.logo{
  width: 60%;
  left: 25%;
}
/* Produits */
.produits{
  border: white outset;
  padding: 10%;
  width: 70px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/* Produits au clique */
.produits:hover{
  color: black;
  background-color: #E2010F;
}
/* Panier */
.cart{
  padding: 6%;
  background-color: #CDE6D0;
  width: 50px;
  height: 50px;
  border:solid;
  border-radius: 100%;
  box-shadow: 3px 8px ;
}
/* Panier au clique */
.cart:hover{
  background-color:#E2010F ;
}


/* Carrousel */
/* Div générale du carrousel */
.carouselExampleControls{
  background-color: gray;
}
/* Première slide */
#slide1{
    background-image: url(../img/amiens2-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}
/* Deuxième slide */
#slide2{
  background-image: url(../img/park-saint-pierre-amiens-picardie_17282_ml-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:50vh;
  width: 100%;
}
/* Troisième slide */
#slide3{
  background-image: url(../img/gare-sncf-damiens-realisation-curieuse-L-1-min.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
  /* Footer */
  footer{
    width: 100%;
    background-color: #1EA64A;
  }
  .foot{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (max-width:1000px){
    /* Header */
    header{
      height: 200px;
      background-color: #CDE6D0 ;
    }
    #title{
      z-index: 1;
      position: relative;
      display: flex;
      margin-bottom: 6%;
      justify-content: center;
      left: 0%;
    }
    .foot{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /* logo */
    /* Liste de navigation */
  .navlist{
    margin: auto;
    padding: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  }