* {
    margin: 0;
    padding: 0;
}

#cardContainer {
    display: flex;
    justify-content: space-around;
    margin: 10% 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 45vw;
    border: solid 1px black;
}